infra/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >
  Kalshi Watchdog — serverless prediction market surveillance platform.
  12 AWS services: Lambda, DynamoDB (+Streams), S3, EventBridge, Step Functions, Bedrock,
  API Gateway REST + WebSocket, SNS, Amplify, CloudWatch, X-Ray.

# ──────────────────────────────────────────────
# Parameters
# ──────────────────────────────────────────────
Parameters:
  KalshiApiKey:
    Type: String
    NoEcho: true
    Description: Kalshi API key (UUID)
  KalshiRsaKeyPem:
    Type: String
    NoEcho: true
    Description: Kalshi RSA private key PEM (full text)


# ──────────────────────────────────────────────
# Globals
# ──────────────────────────────────────────────
Globals:
  Function:
    Runtime: python3.12
    MemorySize: 512
    Timeout: 300
    Architectures:
      - arm64
    Tracing: Active
    Tags: {}
    Environment:
      Variables:
        STORAGE_BACKEND: dynamodb
        TRADES_TABLE_NAME: !Ref TradesTable
        MARKETS_TABLE_NAME: !Ref MarketsTable
        ANOMALIES_TABLE_NAME: !Ref AnomaliesTable
        CONNECTIONS_TABLE_NAME: !Ref ConnectionsTable
        WATCHLIST_TABLE_NAME: !Ref WatchlistTable
        USAGE_TABLE_NAME: !Ref UsageTable
        USER_POOL_ID: !Ref UserPool
        ANALYSIS_BACKEND: bedrock
        KALSHI_API_KEY: !Ref KalshiApiKey
        KALSHI_RSA_KEY_PEM: !Ref KalshiRsaKeyPem

# ──────────────────────────────────────────────
# Resources
# ──────────────────────────────────────────────
Resources:

  # ════════════════════════════════════════════
  # DynamoDB Tables
  # ════════════════════════════════════════════
  TradesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: kalshi-watchdog-trades
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: ticker
          AttributeType: S
        - AttributeName: created_time
          AttributeType: S
      KeySchema:
        - AttributeName: ticker
          KeyType: HASH
        - AttributeName: created_time
          KeyType: RANGE

  MarketsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: kalshi-watchdog-markets
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: ticker
          AttributeType: S
        - AttributeName: status
          AttributeType: S
        - AttributeName: close_time
          AttributeType: S
      KeySchema:
        - AttributeName: ticker
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: status-close-index
          KeySchema:
            - AttributeName: status
              KeyType: HASH
            - AttributeName: close_time
              KeyType: RANGE
          Projection:
            ProjectionType: ALL

  AnomaliesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: kalshi-watchdog-anomalies
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: anomaly_id
          AttributeType: S
        - AttributeName: severity
          AttributeType: S
        - AttributeName: detected_at
          AttributeType: S
        - AttributeName: ticker
          AttributeType: S
      KeySchema:
        - AttributeName: anomaly_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: severity-time-index
          KeySchema:
            - AttributeName: severity
              KeyType: HASH
            - AttributeName: detected_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: ticker-time-index
          KeySchema:
            - AttributeName: ticker
              KeyType: HASH
            - AttributeName: detected_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      StreamSpecification:
        StreamViewType: NEW_IMAGE

  ConnectionsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: kalshi-watchdog-connections
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: connectionId
          AttributeType: S
      KeySchema:
        - AttributeName: connectionId
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  WatchlistTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: kalshi-watchdog-watchlist
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: user_id
          AttributeType: S
        - AttributeName: ticker
          AttributeType: S
      KeySchema:
        - AttributeName: user_id
          KeyType: HASH
        - AttributeName: ticker
          KeyType: RANGE

  UsageTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: kalshi-watchdog-usage
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: user_id
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: S
      KeySchema:
        - AttributeName: user_id
          KeyType: HASH
        - AttributeName: timestamp
          KeyType: RANGE
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  # ════════════════════════════════════════════
  # S3 — Raw Data Archive
  # ════════════════════════════════════════════
  RawDataBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "kalshi-watchdog-raw-${AWS::AccountId}"
      LifecycleConfiguration:
        Rules:
          - Id: ArchiveOldData
            Status: Enabled
            Transitions:
              - TransitionInDays: 30
                StorageClass: STANDARD_IA

  # ════════════════════════════════════════════
  # Cognito — User Authentication
  # ════════════════════════════════════════════
  UserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: kalshi-watchdog-users
      AutoVerifiedAttributes:
        - email
      UsernameAttributes:
        - email
      Schema:
        - Name: email
          Required: true
          Mutable: true
      Policies:
        PasswordPolicy:
          MinimumLength: 8

  UserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: kalshi-watchdog-web
      UserPoolId: !Ref UserPool
      ExplicitAuthFlows:
        - ALLOW_USER_SRP_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
      GenerateSecret: false

  AdminGroup:
    Type: AWS::Cognito::UserPoolGroup
    Properties:
      GroupName: admin
      UserPoolId: !Ref UserPool
      Description: Admin users with access to usage metrics and user management

  # ════════════════════════════════════════════
  # API Gateway — REST API
  # ════════════════════════════════════════════
  RestApi:
    Type: AWS::Serverless::Api
    Properties:
      Name: kalshi-watchdog-api
      StageName: prod
      Cors:
        AllowMethods: "'GET,POST,DELETE,OPTIONS'"
        AllowHeaders: "'Content-Type,Authorization'"
        AllowOrigin: "'*'"
      TracingEnabled: true

  # ════════════════════════════════════════════
  # API Gateway — WebSocket API
  # ════════════════════════════════════════════
  WebSocketApi:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: kalshi-watchdog-ws
      ProtocolType: WEBSOCKET
      RouteSelectionExpression: "$request.body.action"

  WebSocketStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref WebSocketApi
      StageName: prod
      AutoDeploy: true

  # — $connect route —
  WsConnectIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref WebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WsConnectFunction.Arn}/invocations"

  WsConnectRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref WebSocketApi
      RouteKey: "$connect"
      Target: !Sub "integrations/${WsConnectIntegration}"

  WsConnectPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref WsConnectFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WebSocketApi}/*/$connect"

  # — $disconnect route —
  WsDisconnectIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref WebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WsDisconnectFunction.Arn}/invocations"

  WsDisconnectRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref WebSocketApi
      RouteKey: "$disconnect"
      Target: !Sub "integrations/${WsDisconnectIntegration}"

  WsDisconnectPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref WsDisconnectFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WebSocketApi}/*/$disconnect"

  # — $default route —
  WsDefaultIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref WebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WsConnectFunction.Arn}/invocations"

  WsDefaultRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref WebSocketApi
      RouteKey: "$default"
      Target: !Sub "integrations/${WsDefaultIntegration}"

  WsDefaultPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref WsConnectFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WebSocketApi}/*/$default"

  # ════════════════════════════════════════════
  # Lambda Functions (9 total)
  # ════════════════════════════════════════════

  # — REST API handler (catches all HTTP routes) —
  ApiFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.api.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      MemorySize: 512
      Timeout: 900
      Events:
        ApiProxy:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /{proxy+}
            Method: ANY
        ApiRoot:
          Type: Api
          Properties:
            RestApiId: !Ref RestApi
            Path: /
            Method: ANY

  # — Ingest settled markets from Kalshi —
  IngestMarketsFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.ingest_markets.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 600

  # — Ingest trade history from Kalshi —
  IngestTradesFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.ingest_trades.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 900

  # — Run anomaly detection + Bedrock analysis —
  RunDetectionFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.run_detection.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 900
      MemorySize: 1024

  # — Analyze single anomaly with Bedrock LLM —
  AnalyzeAnomalyFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.analyze_anomaly.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 60

  # — WebSocket $connect —
  WsConnectFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.ws_connect.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 10

  # — WebSocket $disconnect —
  WsDisconnectFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.ws_disconnect.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 10

  # — DynamoDB Streams → WebSocket broadcast —
  WsBroadcastFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../backend/
      Handler: lambdas.ws_broadcast.handler.lambda_handler
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Timeout: 30
      Environment:
        Variables:
          WS_ENDPOINT: !Sub "https://${WebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
      Events:
        DynamoStream:
          Type: DynamoDB
          Properties:
            Stream: !GetAtt AnomaliesTable.StreamArn
            StartingPosition: LATEST
            BatchSize: 10
            FilterCriteria:
              Filters:
                - Pattern: '{"eventName": ["INSERT"]}'

  # ════════════════════════════════════════════
  # Step Functions — Pipeline Orchestration
  # ════════════════════════════════════════════
  PipelineStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: kalshi-watchdog-pipeline
      Role: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"
      Definition:
        Comment: "Ingest markets → ingest trades → run detection + Bedrock analysis"
        StartAt: IngestMarkets
        States:
          IngestMarkets:
            Type: Task
            Resource: !GetAtt IngestMarketsFunction.Arn
            Parameters:
              status: settled
              limit: 200
            ResultPath: "$.ingestMarketsResult"
            Next: IngestTrades
            Retry:
              - ErrorEquals:
                  - States.ALL
                MaxAttempts: 2
                BackoffRate: 2
          IngestTrades:
            Type: Task
            Resource: !GetAtt IngestTradesFunction.Arn
            Parameters:
              settled_only: true
              market_limit: 100
              all_history: true
            ResultPath: "$.ingestTradesResult"
            Next: RunDetection
            Retry:
              - ErrorEquals:
                  - States.ALL
                MaxAttempts: 2
                BackoffRate: 2
          RunDetection:
            Type: Task
            Resource: !GetAtt RunDetectionFunction.Arn
            Parameters:
              limit: 50
              analyze_with_llm: true
            ResultPath: "$.detectionResult"
            End: true
            Retry:
              - ErrorEquals:
                  - States.ALL
                MaxAttempts: 1

  # ════════════════════════════════════════════
  # EventBridge — Scheduled Pipeline Trigger
  # ════════════════════════════════════════════
  PipelineTriggerRule:
    Type: AWS::Events::Rule
    Properties:
      Name: kalshi-watchdog-pipeline-trigger
      Description: Trigger the surveillance pipeline every 2 hours
      ScheduleExpression: "rate(2 hours)"
      State: ENABLED
      Targets:
        - Id: StepFunctionTarget
          Arn: !Ref PipelineStateMachine
          RoleArn: !Sub "arn:aws:iam::${AWS::AccountId}:role/WSParticipantRole"

  # ════════════════════════════════════════════
  # CloudWatch Dashboard
  # ════════════════════════════════════════════
  WatchdogDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: kalshi-watchdog
      DashboardBody: !Sub |
        {
          "widgets": [
            {
              "type": "metric",
              "x": 0, "y": 0, "width": 12, "height": 6,
              "properties": {
                "title": "Lambda Invocations",
                "metrics": [
                  ["AWS/Lambda", "Invocations", "FunctionName", "${RunDetectionFunction}"],
                  ["AWS/Lambda", "Invocations", "FunctionName", "${IngestTradesFunction}"],
                  ["AWS/Lambda", "Invocations", "FunctionName", "${ApiFunction}"]
                ],
                "period": 300,
                "stat": "Sum",
                "region": "${AWS::Region}"
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 0, "width": 12, "height": 6,
              "properties": {
                "title": "Lambda Errors",
                "metrics": [
                  ["AWS/Lambda", "Errors", "FunctionName", "${RunDetectionFunction}"],
                  ["AWS/Lambda", "Errors", "FunctionName", "${IngestTradesFunction}"],
                  ["AWS/Lambda", "Errors", "FunctionName", "${ApiFunction}"],
                  ["AWS/Lambda", "Errors", "FunctionName", "${WsBroadcastFunction}"]
                ],
                "period": 300,
                "stat": "Sum",
                "region": "${AWS::Region}"
              }
            },
            {
              "type": "metric",
              "x": 0, "y": 6, "width": 12, "height": 6,
              "properties": {
                "title": "API Gateway Latency",
                "metrics": [
                  ["AWS/ApiGateway", "Latency", "ApiName", "kalshi-watchdog-api"]
                ],
                "period": 300,
                "stat": "Average",
                "region": "${AWS::Region}"
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 6, "width": 12, "height": 6,
              "properties": {
                "title": "DynamoDB Read/Write Capacity",
                "metrics": [
                  ["AWS/DynamoDB", "ConsumedReadCapacityUnits", "TableName", "${AnomaliesTable}"],
                  ["AWS/DynamoDB", "ConsumedWriteCapacityUnits", "TableName", "${AnomaliesTable}"],
                  ["AWS/DynamoDB", "ConsumedReadCapacityUnits", "TableName", "${TradesTable}"],
                  ["AWS/DynamoDB", "ConsumedWriteCapacityUnits", "TableName", "${TradesTable}"]
                ],
                "period": 300,
                "stat": "Sum",
                "region": "${AWS::Region}"
              }
            }
          ]
        }


# ──────────────────────────────────────────────
# Outputs
# ──────────────────────────────────────────────
Outputs:
  ApiUrl:
    Description: REST API endpoint
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
  WebSocketUrl:
    Description: WebSocket endpoint for real-time anomaly push
    Value: !Sub "wss://${WebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
  RawDataBucketName:
    Description: S3 bucket for raw trade archives
    Value: !Ref RawDataBucket
  PipelineStateMachineArn:
    Description: Step Functions pipeline ARN
    Value: !Ref PipelineStateMachine
  CloudWatchDashboard:
    Description: CloudWatch dashboard
    Value: !Sub "https://${AWS::Region}.console.aws.amazon.com/cloudwatch/home#dashboards:name=kalshi-watchdog"
  UserPoolId:
    Description: Cognito User Pool ID
    Value: !Ref UserPool
  UserPoolClientId:
    Description: Cognito User Pool Client ID
    Value: !Ref UserPoolClient
